<div class="row">
	<div class="col-md-3">
		<ul class="sidebar-list">
			<li class="sidebar-item"><%= link_to "Your Listing", cars_path, class: "sidebar-link active" %></li>
			<li class="sidebar-item"><%= link_to "Your Reservations", cars_path, class: "sidebar-link" %></li>
		</ul>
	</div>
	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				Listings
			</div>
			<div class="panel-body">
				
				<% @cars.each do |car| %>
					<div class="row">
						<div class="col-md-2">
							<%= image_tag car.photos[0].image.url(:thumb) if car.photos.length > 0 %>
						</div>		
						<div class="col-md-7">
							<h4><%= car.listing_name %></h4>
						</div>		
						<div class="col-md-3 right">
							<%= link_to "Update", edit_car_path(car), class: "btn btn-primary" %>
						</div>		
					</div>
					<hr>
				<% end %>

			</div>
		</div>
	</div>
</div>